<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889382802914-feieqp2jiktu1cklqbiq248h23ji5cv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889382802914-feieqp2jiktu1cklqbiq248h23ji5cv9</string>
	<key>API_KEY</key>
	<string>AIzaSyDT6SwNn7yJdcTGov9NXZZnEOoP6BiaTKU</string>
	<key>GCM_SENDER_ID</key>
	<string>889382802914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.DocTime</string>
	<key>PROJECT_ID</key>
	<string>doctime-31db7</string>
	<key>STORAGE_BUCKET</key>
	<string>doctime-31db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889382802914:ios:ae42b747452b53eff995bb</string>
</dict>
</plist>